In [21]:
import geopandas as gpd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [34]:
user = "postgres"
password = "Ww4756"
host = "localhost"
port = 5432
database = "casestudy"
conn = f"postgresql://{user}:{password}@{host}:{port}/{database}"
engine = create_engine(conn)

In [22]:
districtDf = gpd.read_file('../caseData/ilceler/ilceler_ankara_3857.shp')
districtDf.head()

,objectid,adi,nufus,alan,il_id,user_creat,user_cre_1,user_modif,user_mod_1,m_date,m_status,geo_durum,geometry
0,20,NALLIHAN,29209,2.064563e+09,1,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((3536592.255 4872369.206, 3536488.615..."
1,21,POLATLI,121858,3.417652e+09,1,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((3610577.712 4804474.033, 3610201.342..."
2,2,ALTINDAĞ,363687,1.580877e+08,1,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((3686596.059 4870373.396, 3686513.460..."
3,4,BALA,21618,1.838805e+09,1,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((3734269.007 4753875.502, 3731787.918..."
4,7,ÇANKAYA,922536,4.050533e+08,1,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((3689083.467 4829660.963, 3688910.255..."

In [91]:
districtDfLast = districtDf[['objectid','nufus','alan','geometry']]
districtDfLast.head()

,objectid,nufus,alan,geometry
0,20,29209,2.064563e+09,"POLYGON ((3536592.255 4872369.206, 3536488.615..."
1,21,121858,3.417652e+09,"POLYGON ((3610577.712 4804474.033, 3610201.342..."
2,2,363687,1.580877e+08,"POLYGON ((3686596.059 4870373.396, 3686513.460..."
3,4,21618,1.838805e+09,"POLYGON ((3734269.007 4753875.502, 3731787.918..."
4,7,922536,4.050533e+08,"POLYGON ((3689083.467 4829660.963, 3688910.255..."

In [93]:
districtDfLast.crs

<Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World between 85.06°S and 85.06°N.
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [96]:
districtDfLast.to_postgis(name="county", con=engine, schema="public")